nav {
    background-color: black;
    display: flex;
    padding: 5px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.774);
    flex-wrap: wrap;
    margin-bottom: 10px;
    /* serve per avere l'header fisso */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav > div.element {
   margin-right: 5px;
   min-width: 100px;
   text-align: center;
   padding: 0.5em;
   border : 3px solid transparent
   
}

nav > div.element:hover {
    color: white;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background-color: rgba(43, 42, 42, 0.596);
    
 }

div.login {
   margin-left: auto;
 }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 992px) {
    nav {
        font-size: 16px;
        padding: 0px;
    }

    nav > div.element{
        min-width: 150px;
        flex-basis: 100%;
        width: 100%;
        border-radius: 0rem;
        margin-left: 0px;
        margin-right: 0px;
    }

    nav > div.element:hover{
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.521);
    }
  }