div#sidebar{
  cursor: pointer;
  align-items: vertical;
  padding: 1px;
  margin-left: 1px;
  margin-top: 65px;
  height: calc(100% - 80px);
  z-index: 2; /* Stay on top */
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(160, 151, 151, 0.555);
}

div#sidebar.disactivate_sidebar > div#sidebar-container {
  width: 0px;
  transition: all 1s;
}

div#sidebar.active_sidebar > div#sidebar-container{
  width: 150px;
  transition: all 1s;
}

div#sidebar-open {
  cursor: pointer;
  background-color: rgba(252, 251, 251, 0.904);
  width: 50px;
  height: 100%;
}

div#sidebar-open {
display: flex;
justify-content: center;
align-items: center;
}

div#sidebar-open.active{
 transform: rotate(180deg);
  }